<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a id="logo-tab" class="navbar-brand">
      <img src="assets/images/footprint.png" class="brand-img" onmouseover="this.src='assets/images/pawprint.png'" onmouseout="this.src='assets/images/footprint.png'">
    </a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item"><a href="/">{{ user.username }}</a></li>
        <li class="menu-item"><a href="/" id="food-tab">?</a></li>
        <li class="menu-item"><a href="/logout" class="btn-logout" data-toggle="tooltip" data-placement="bottom" id="tooltip" title="LOG OUT"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
</div>