<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a id="logo-tab" class="navbar-brand">
      <img src="../assets/images/footprint.png" class="img-responsive navbar-img" onmouseover="this.src='../assets/images/pawprint.png'" onmouseout="this.src='../assets/images/footprint.png'">
    </a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item"><a href="/users/{{ user.username }}">{{ user.name }}</a></li>
        <li class="menu-item"><a href="/" id="food-tab"><i class="fa fa-search"></i></a></li>
        <li class="menu-item"><a href="/logout" class="btn-logout" data-toggle="tooltip" data-placement="bottom" id="tooltip" title="LOG OUT"><i class="fa fa-sign-out"></i></a></li>
        <li>
          <ul class="authenticate">
            <li><button class="unique-user btn-login-form">LOG IN</button></li>
            <li><button class="unique-user btn-register-form">SIGN UP</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>