<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
</head>
<body>
  {{#if user}}
	  {{>_authNavbar}}
  {{else}}
    {{>_unauthNavbar}}
  {{/if}}
	
	{{{body}}}
	
	{{>templates}}
	{{>scripts}}
  </body>
</html>