<% include ./dependencies/head %>

<body>

  <div id="nav"></div>
  <div class="home"></div>
  <div class="food"></div>
  <div class="beverages"></div>
  <div class="attractions"></div>
  <div class="query"></div>


  <% include ./templates/query %>

  <% include ./templates/response %>

  <% include ./templates/nav %>

  <% include ./templates/home %>

  <% include ./templates/form %>

  <% include ./templates/food %>

  <% include ./templates/beverages %>

  <% include ./templates/attractions %>


  <% include ./dependencies/scripts %>

  </body>
</html>