h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 27px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

.tab-title {
  font-weight: 500;
	line-height: 1.1;
	padding-top: 10%;
	text-align: center;
}