/* line 1, scss/page.scss */
h1 {
  font-size: 48px;
}

/* line 2, scss/page.scss */
h2 {
  font-size: 32px;
}

/* line 3, scss/page.scss */
h3 {
  font-size: 27px;
}

/* line 4, scss/page.scss */
h4 {
  font-size: 22px;
}

/* line 5, scss/page.scss */
h5 {
  font-size: 18px;
}

/* line 6, scss/page.scss */
h6 {
  font-size: 14px;
}

/* line 8, scss/page.scss */
.tab-title {
  font-weight: 500;
  line-height: 1.1;
  padding-top: 10%;
  text-align: center;
}

/* line 15, scss/page.scss */
.app-title {
  font-weight: 100;
  color: white;
  font-size: 500%;
  margin-top: 280px;
}

/* line 22, scss/page.scss */
.list-group-row {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
/* line 26, scss/page.scss */
.list-group-row .list-group {
  padding: 0;
}
/* line 28, scss/page.scss */
.list-group-row .list-group .list-group-item {
  width: 225px;
  position: relative;
}
