/* line 1, scss/_base.scss */
body {
  background-color: lightgrey;
  font-family: Josefin Sans;
}

/* line 6, scss/_base.scss */
ul.list-group li {
  display: inline-block;
}

/* line 10, scss/_base.scss */
.brand-img {
  height: 25px;
}

/* line 14, scss/_base.scss */
#home {
  height: 100vh;
  width: 100vw;
  background-color: #99ffcc;
}

/* line 20, scss/_base.scss */
.menu-item {
  cursor: pointer;
}

/* line 23, scss/_base.scss */
.slide-img {
  height: 100vh;
  width: 100vw;
}

/* line 28, scss/_base.scss */
.photo-layer {
  z-index: 1;
  position: absolute;
}

/* line 33, scss/_base.scss */
ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
}

/* line 39, scss/_base.scss */
.black-layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
}

/* line 50, scss/_base.scss */
.text-layer {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* line 58, scss/_base.scss */
ul.authenticate li {
  display: inline-block;
}

/* line 62, scss/_base.scss */
button.unique-user {
  background: none;
  border: 2.5px solid white;
  color: white;
  width: 100px;
  height: 42px;
  margin: 0 25px 0 0;
}

/* line 71, scss/_base.scss */
button:hover {
  color: black;
  background-color: white;
}

/* line 76, scss/_base.scss */
.form-control {
  border-radius: 0px;
}

/* line 80, scss/_base.scss */
.form-error {
  color: red;
}

/* line 84, scss/_base.scss */
.row {
  text-align: center;
  padding-top: 3%;
}

/* line 89, scss/_base.scss */
h3 {
  font-weight: 100;
  color: #99ffcc;
}

/* line 95, scss/_base.scss */
form label {
  color: #fff;
  float: left;
}

/* line 100, scss/_base.scss */
.btn-submit {
  border-radius: 0px;
  height: 34px;
  background-color: #99ffcc;
  color: #000;
}

/* line 107, scss/_base.scss */
#caretDropdown {
  border-color: transparent;
  background-color: transparent;
}

/* line 112, scss/_base.scss */
.caretAdd {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  /* line 117, scss/_base.scss */
  .btn-default {
    width: 100%;
  }
}
/* line 1, scss/_navbar.scss */
.navbar-inverse {
  background-color: #000;
}
/* line 3, scss/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: #fff;
}
/* line 5, scss/_navbar.scss */
.navbar-inverse .navbar-brand:hover {
  color: #99FFCC;
}
/* line 10, scss/_navbar.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* line 12, scss/_navbar.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #99FFCC;
}
