<div class="food">
  <h2 class="tab-title">WhereTO</h2>
  
    <% include ./_query %>

  <div class="container">
    <div class="row list-group-row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center list-group-loader"></div>
        <ul class="list-group">
          <!-- yelp response object -->
        </ul>  
      </div>
    </div>
  </div>


<!--   <div class="row">
    <div class="col-md-4">
      <h3>brunch</h3>

      <div class="brunch-container">
        <div class="row">
          <ul class="brunch-list"></ul>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <h3>lunch/dinner</h3>
    </div>
    <div class="col-md-4">
      <h3>dessert</h3>
    </div>
  </div> -->

</div>