body {
  background-color: lightgrey;
}


/********************** NAVBAR **********************/
.navbar-inverse {
  background-color: #000;
}
.navbar-inverse .navbar-brand {
font-family: 'Josefin Sans';
  color: #fff;
}
.navbar-inverse .navbar-brand:hover {
  color: #99FFCC;
}
.navbar-inverse .navbar-nav > li > a {
font-family: 'Josefin Sans';
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #99FFCC;
}

.brand-img {
  height: 25px;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: #99FFCC;
}
#food {
  height: 100vh;
  width: 100vw;
  z-index: 5;
/*  background-color: red;*/
}
#beverages {
  height: 100vh;
  width: 100vw;
  z-index: 5;
/*  background-color: orange;*/
}
#attractions {
  height: 100vh;
  width: 100vw;
  z-index: 5;
/*  background-color: pink;*/
}


/********************** NAVBAR **********************/

/********************** LANDING PAGE **********************/
.slide-img {
  height: 100vh;
  width: 100vw;
}

.photo-layer {
  z-index: 1;
  position: absolute;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0 
}

.black-layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top:0;
  left:0;
}

.text-layer {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
font-family: 'Josefin Sans';
  font-weight: 100;
  color: white;
  font-size: 500%;
  margin-top: 280px;
}

ul.authenticate li {
  display: inline-block;
}

button.unique-user {
  background: none;
  border: 2.5px solid white;
  color: white;
  width: 100px;
  height: 42px;
  font-family: 'Josefin Sans';
  margin: 0 25px 0 0;
}

button:hover {
  color: black;
  background-color: white;
}
/********************** LANDING PAGE **********************/

.tab-title {
  padding-top: 10%;
  text-align: center;
  font-family: 'Josefin Sans';
}

.row {
  text-align: center;
  padding-top: 3%;
}

h3 {
  font-family: 'Josefin Sans';
  font-weight: 100;
  color: #99FFCC;
}

.list-group {
  width: 85%;
}

.list-group-item {
  position: relative;
}

.list-arrow {
  position: absolute;
  top: 0;
  right: 0;
}

.arrow-img {
  height: 18px;
}

.btn-default {
  height: 34px;
}

@media screen and (max-width: 767px) {
  .btn-default {
    width: 100%;
  }
}

.list-group>.list-group-item:nth-child(odd){
    background-color: #F0FFF0;
}​
