<script type="text/template" id="search-user-place-item-template">
  <li>
    <div class="user-item wow fadeIn">
      <div class="user-item-icon">
        <form>
          <i class="fa fa-smile-o"></i>
        </form>
      </div>
      <div class="user-item-img">
        <a href="../assets/images/tuna_tartare.jpg" data-lightbox="added-img"><img src="<%= imageUrl %>" class="img-responsive"></a>
      </div>
      <div class="user-item-info">
        <h4><a href="" target="_blank"><%= venue %></a></h4>
        <h5><%= city %></h5>
      </div>
    </div>
  </li>
</script>