<script type="text/template" id="search-user-place-item-template">
  <div class="user-item">
    <div data-id="<%= _id %>" class="user-item-icon">
      <i class="fa fa-times"></i>
    </div> 
    <div class="user-item-info">
      <h4><a href="#" target="_blank"><%= venue %></a></h4>
      <h5><%= city %></h5>
    </div>
    <div class="user-item-img">
      <a href="../assets/images/tuna_tartare.jpg" data-lightbox="added-img"><img src="../assets/images/tuna_tartare.jpg" class="img-responsive"></a>
    </div>
  </div>
</script>