<div id="query">
  <div class="query-wrapper">
    <form class="form-inline"> 
      <input type="text" class="form-control input-location-query" placeholder="City, State" autofocus>
      <input type="text" class="form-control input-term-query" placeholder="Mexican, Bars, Coffee, etc.">
        <button name="location" class="btn btn-default form-control btn-query btn-submit">Submit</button>
    </form>
    <div class="text-center list-group-loader"></div>
  </div>
</div>