<script type="text/template" id="response-template">
  <div class="row result-inner-container wow slideInLeft">
    <div class="col-md-4 col-sm-12 result-info pull-left">
      <h5><%= name %></h5>
      <% var address = location.display_address %>
      <% for (var i = 0; i < address.length; i++) { %>
      <p><%= address[i] %></p>
      <% } %>
      <p>rating: <%= rating %>/5</p>
    </div>
    <div class="col-md-4 col-sm-12 result-img">
      <a href="#" data-lightbox="response" data-title="<%= name %>">
        <img class="img-responsive" src="<%= image_url %>">
      </a>
    </div>
    <div class="col-md-4 col-sm-12 result-btns pull-right">
      <a class="no-btn" href="<%= url %>" target="_blank">
        <i class="fa fa-yelp"></i>
      </a>
      <form action="/places" method="post">   
        <input type="hidden" name="venue" value="<%= name %>">
        <input type="hidden" name="yelpId" value="<%= id %>">
        <input type="hidden" name="imageUrl" value="<%= image_url %>">
        <input type="hidden" name="city" value="<%= location.city %>">
        <input type="hidden" name="zipcode" value="<%= location.postal_code %>">
        <button type="submit" class="no-btn" id="search-create"><i class="fa fa-plus"></i></button>
      </form>
    </div>
  </div>
</script>