<script type="text/template" id="register-form-template">
	<form action="/users" method="post" id="form-register">
		<h2>Sign Up!</h2>
	  <div class="form-group">
	    <label>Full Name</label>
	    <input type="text" name="name" class="form-control name-register" autofocus>
	  </div>
	  <div class="form-group">
	    <label>Username</label>
	    <input type="text" name="username" class="form-control username-register">
	  </div>
	  <div class="form-group">
	    <label>Email</label>
	    <input type="email" name="email" class="form-control email-register">
	  </div>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" name="password" class="form-control password-register">
	  </div>
	  <div class="form-group">
	    <button type="submit" class="form-control btn btn-default btn-register">SIGN UP</button>
	  </div>
	</form>
	<p class="form-error">{{ message }}</p>
</script>