<script type="text/template" id="login-form-template">
	<form class="form-inline form-inputs" action="/login" method="post" id="form-login">
	  <div class="form-group">
	  	<label>Username
	    <input type="text" name="username" class="form-control username-login" placeholder="Username" autofocus></label>
	    <label>Password
	    <input type="password" name="password" class="form-control password-login" placeholder="Password"></label>
	  	<button type="submit" class="form-control btn btn-default btn-login">LOG IN</button>
	  </div>
	</form>
	<p class="form-error">{{ message }}</p>
</script>

