<script type="text/template" id="login-form-template">
	<form class="form-inline form-inputs" action="/login" method="post">
	  <div class="form-group">
	  	<label>Username
	    <input type="text" name="username" class="form-control username-login" placeholder="dmuffinz" autofocus></label>
	  </div>
	  <div class="form-group">
	  	<label>Password
	    <input type="password" name="password" class="form-control password-login" placeholder="shhhh"></label>
	  </div>
	  <button type="submit" class="form-control btn btn-default btn-login btn-submit">LOG IN</button>
	</form>
	<p class="form-error">{{ message }}</p>
</script>

