<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../dependencies/head %>
</head>
<body>
	<% include ../partials/navbar %>
	
	<% include ../pages/food %>
	<% include ../pages/beverages %>
	<% include ../pages/attractions %>

	<% include ../dependencies/templates %>

  <% include ../dependencies/scripts %>
  </body>
</html>