<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a id="logo-tab" class="navbar-brand">
      <img src="../assets/images/footprint.png" class="img-responsive navbar-img" onmouseover="this.src='../assets/images/pawprint.png'" onmouseout="this.src='../assets/images/footprint.png'">
    </a>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item"><a href="/users/{{ user.username }}">{{ user.name }}</a></li>
        <li class="menu-item"><a href="/" id="food-tab"><i class="fa fa-search"></i></a></li>
        <li class="menu-item"><a href="/logout" class="btn-logout" data-toggle="tooltip" data-placement="bottom" id="tooltip" title="LOG OUT"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
</div>
