<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a id="logo-tab" class="navbar-brand">
      <img src="../assets/images/footprint.png" class="img-responsive navbar-img" onmouseover="this.src='../assets/images/pawprint.png'" onmouseout="this.src='../assets/images/footprint.png'">
    </a>

    <div class="no-collapse">
      <ul class="nav navbar-nav navbar-right menu-items">
        <li class="menu-item">
          <div class="menu-icon">
            <a href="/" id="food-tab"><i class="fa fa-search"></i></a>
          </div>
          <div class="menu-text">
            <p class="caption">Search</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-icon">
            <a href="/users"><i class="fa fa-users"></i></a>
          </div>
          <div class="menu-text">
            <p class="caption">People</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-icon">
            <a href="/logout" class="btn-logout" data-toggle="tooltip" data-placement="bottom" id="tooltip" title="LOG OUT"><i class="fa fa-sign-out"></i></a>
          </div>
          <div class="menu-text">
            <p class="caption">Sign Out</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-icon">
            <a href="/users/{{ user.username }}"><img id="nav-user-img" class="img-responsive nav-user-img" src="http://evturn.com/assets/img/ev-winter-yellow-200.jpg"> {{ user.name }}</a>
          </div>
          <div class="menu-text">
            <p class="caption"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
