/* line 1, partials/_page.scss */
h1 {
  font-size: 48px;
}

/* line 2, partials/_page.scss */
h2 {
  font-size: 32px;
}

/* line 3, partials/_page.scss */
h3 {
  font-size: 27px;
}

/* line 4, partials/_page.scss */
h4 {
  font-size: 22px;
}

/* line 5, partials/_page.scss */
h5 {
  font-size: 18px;
}

/* line 6, partials/_page.scss */
h6 {
  font-size: 14px;
}

/* line 9, partials/_page.scss */
.section-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 14, partials/_page.scss */
.navbar-inverse {
  background-color: #231f20;
}
/* line 16, partials/_page.scss */
.navbar-inverse .navbar-brand {
  color: white;
}
/* line 18, partials/_page.scss */
.navbar-inverse .navbar-brand:hover {
  color: #99ffcc;
}
/* line 21, partials/_page.scss */
.navbar-inverse .navbar-brand .navbar-img {
  width: 25px;
}
/* line 27, partials/_page.scss */
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
/* line 29, partials/_page.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #99ffcc;
}

/* line 35, partials/_page.scss */
.tab-title {
  font-weight: 500;
  line-height: 1.1;
  padding-top: 115px;
  text-align: center;
}

/* line 42, partials/_page.scss */
.app-title {
  font-weight: 100;
  color: white;
  font-size: 500%;
  margin-top: 280px;
}

/* line 49, partials/_page.scss */
.list-group-row {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
/* line 53, partials/_page.scss */
.list-group-row .list-group {
  padding: 0;
}
/* line 55, partials/_page.scss */
.list-group-row .list-group .list-group-item {
  width: 225px;
  position: relative;
}
/* line 58, partials/_page.scss */
.list-group-row .list-group .list-group-item .list-item-option {
  position: absolute;
  top: 35px;
  right: 7px;
}

/* line 1, partials/_base.scss */
body {
  background-color: lightgrey;
  font-family: Josefin Sans;
}

/* line 6, partials/_base.scss */
ul.list-group li {
  display: inline-block;
}

/* line 10, partials/_base.scss */
#home {
  height: 100vh;
  width: 100vw;
  background-color: #99ffcc;
}

/* line 16, partials/_base.scss */
.menu-item {
  cursor: pointer;
}

/* line 20, partials/_base.scss */
.slide-img {
  height: 100vh;
  width: 100vw;
}

/* line 25, partials/_base.scss */
.photo-layer {
  z-index: 1;
  position: absolute;
}

/* line 30, partials/_base.scss */
ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
}

/* line 36, partials/_base.scss */
.black-layer {
  background-color: #231f20;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
}

/* line 47, partials/_base.scss */
.text-layer {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* line 55, partials/_base.scss */
ul.authenticate li {
  display: inline-block;
}

/* line 59, partials/_base.scss */
button.unique-user {
  background: none;
  border: 2.5px solid white;
  color: white;
  width: 100px;
  height: 42px;
  margin: 0 25px 0 0;
}

/* line 68, partials/_base.scss */
button:hover {
  color: #231f20;
  background-color: white;
}

/* line 73, partials/_base.scss */
.form-control {
  border-radius: 0px;
}

/* line 77, partials/_base.scss */
.form-error {
  color: red;
}

/* line 82, partials/_base.scss */
form label {
  color: white;
  float: left;
}

/* line 87, partials/_base.scss */
.btn-submit {
  border-radius: 0px;
  height: 34px;
  background-color: #99ffcc;
  color: #000;
}

/* line 94, partials/_base.scss */
#caretDropdown {
  border-color: transparent;
  background-color: transparent;
}

/* line 99, partials/_base.scss */
.caretAdd {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  /* line 108, partials/_base.scss */
  .btn-default {
    width: 100%;
  }
}
/* line 1, partials/_profile.scss */
.user-header {
  margin-top: 50px;
  padding: 0;
  background: url("http://evturn.com/assets/img/tile.png");
  height: 280px;
  background-size: cover;
}

/* line 9, partials/_profile.scss */
.page-content {
  margin-top: 20px;
}
/* line 11, partials/_profile.scss */
.page-content .user-data {
  text-align: left;
}
/* line 13, partials/_profile.scss */
.page-content .user-data .img-avatar {
  width: 240px;
  z-index: 1;
  margin-top: -80px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  /* line 13, partials/_profile.scss */
  .page-content .user-data .img-avatar {
    width: 100px;
  }
}
/* line 22, partials/_profile.scss */
.page-content .user-data .user-title {
  text-transform: uppercase;
}
/* line 26, partials/_profile.scss */
.page-content .user-list {
  background: white;
  border-radius: 2px;
  padding: 0;
}
/* line 30, partials/_profile.scss */
.page-content .user-list .user-list-title {
  color: #15365d;
  text-transform: uppercase;
  line-height: 2.5em;
}
/* line 35, partials/_profile.scss */
.page-content .user-list .row.list-item {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #c9c8c7;
  background: white;
  cursor: pointer;
}
/* line 42, partials/_profile.scss */
.page-content .user-list .row.list-item:hover {
  background: #00b2e2;
  color: white;
}
/* line 47, partials/_profile.scss */
.page-content .user-list .row.list-item .list-desc {
  height: 100%;
  text-align: left;
  text-transform: uppercase;
}
/* line 51, partials/_profile.scss */
.page-content .user-list .row.list-item .list-desc .list-item-title {
  color: #00b2e2;
  line-height: 2.5em;
}
/* line 57, partials/_profile.scss */
.page-content .user-list .row.list-item .list-icon .fa {
  font-size: 2.5em;
  padding: 10px;
  color: #929497;
  text-align: center;
}
/* line 64, partials/_profile.scss */
.page-content .user-list .row.list-item .list-total {
  height: 100%;
  color: #c9c8c7;
  display: inline-block;
}
/* line 68, partials/_profile.scss */
.page-content .user-list .row.list-item .list-total .list-item-total {
  float: left;
  line-height: 2.5em;
}
/* line 72, partials/_profile.scss */
.page-content .user-list .row.list-item .list-total i.fa {
  float: right;
  font-size: 1.8em;
  line-height: 2.5em;
  color: #e6e7e8;
}

/* line 1, partials/_query.scss */
.sections-wrapper {
  position: relative;
  background-color: pink;
  height: 700px;
}
/* line 5, partials/_query.scss */
.sections-wrapper .section-tab {
  position: absolute;
  height: 100%;
}
/* line 10, partials/_query.scss */
.sections-wrapper ul.nav-tabs li {
  display: inline-block;
}
/* line 14, partials/_query.scss */
.sections-wrapper #foods {
  background-color: #ff8f12;
}
/* line 18, partials/_query.scss */
.sections-wrapper #drinks {
  background-color: purple;
}

/* line 1, partials/_users.scss */
.container-users {
  margin-top: 70px;
}
/* line 3, partials/_users.scss */
.container-users .img-user-result {
  background: url("http://evturn.com/assets/img/ev-winter-yellow-200.jpg");
  width: 80px;
  height: 80px;
  background-size: cover;
}
/* line 10, partials/_users.scss */
.container-users .container-user-results {
  background: white;
  color: #00b2e2;
}
/* line 13, partials/_users.scss */
.container-users .container-user-results .user-result-item {
  height: 80px;
  border-top: 1px solid #c9c8c7;
}
