/* line 35, partials/_globals.scss */
.btn-primarylight {
  background: #00b2e2;
  color: white;
  height: 30px;
  width: 100px;
}
/* line 40, partials/_globals.scss */
.btn-primarylight:hover {
  background: #15365d;
  color: white;
}

/* line 48, partials/_globals.scss */
.no-btn,
.no-btn:hover,
.no-btn:focus {
  background: none;
  background-image: none;
  background-color: none;
  border: none;
  border-color: none;
}

/* line 1, partials/_page.scss */
h1 {
  font-size: 110px;
  color: white;
}

/* line 2, partials/_page.scss */
h2 {
  font-size: 32px;
}

/* line 3, partials/_page.scss */
h3 {
  font-size: 27px;
}

/* line 4, partials/_page.scss */
h4 {
  font-size: 22px;
}

/* line 5, partials/_page.scss */
h5 {
  font-size: 18px;
}

/* line 6, partials/_page.scss */
h6 {
  font-size: 14px;
}

/* line 10, partials/_page.scss */
.main-view {
  height: 100vh;
}

/* line 14, partials/_page.scss */
.form-welcome {
  position: absolute;
  top: 50px;
  right: 0;
  height: 50px;
  display: block;
  border-radius: 5px;
  width: 550px;
  display: none;
  background-color: #231f20;
}

/* line 26, partials/_page.scss */
.form-inputs {
  padding-top: 1.5%;
}

/* line 30, partials/_page.scss */
.section-title {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  /* line 37, partials/_page.scss */
  .form-welcome {
    height: 132px;
    width: 345px;
  }

  /* line 41, partials/_page.scss */
  .form-group {
    padding: 6%;
    border-radius: 5%;
  }

  /* line 45, partials/_page.scss */
  #form-register .form-group {
    background-color: #99ffcc;
    margin-bottom: 0px;
  }
}
/* line 1, partials/_base.scss */
body {
  background-color: lightgrey;
  font-family: Josefin Sans;
}

/* line 6, partials/_base.scss */
#home {
  height: 100vh;
  width: 100vw;
  background-color: #99ffcc;
}

/* line 12, partials/_base.scss */
.menu-item {
  cursor: pointer;
}

/* line 16, partials/_base.scss */
.slide-img {
  height: 100vh;
  width: 100vw;
}

/* line 21, partials/_base.scss */
.photo-layer {
  z-index: 1;
  position: absolute;
}

/* line 26, partials/_base.scss */
ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
}

/* line 32, partials/_base.scss */
.black-layer {
  background-color: #231f20;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
}

/* line 43, partials/_base.scss */
.text-layer {
  padding-top: 51px;
  color: white;
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* line 53, partials/_base.scss */
ul.authenticate li {
  display: inline-block;
  float: right;
}

/* line 58, partials/_base.scss */
button.unique-user {
  background: none;
  border: 1px solid white;
  color: white;
  width: 85px;
  height: 30px;
  margin: 10px 20px 0 0;
}

/* line 67, partials/_base.scss */
button:hover {
  color: #231f20;
  background-color: white;
}

/* line 72, partials/_base.scss */
.form-control {
  border-radius: 0px;
}

/* line 76, partials/_base.scss */
.form-error {
  color: red;
}

/* line 80, partials/_base.scss */
#form-register {
  background-color: #99ffcc;
  padding: 6%;
  border-radius: 2%;
  z-index: 99999;
  position: absolute;
  top: 51px;
}
/* line 87, partials/_base.scss */
#form-register h2 {
  color: #231f20;
}
/* line 90, partials/_base.scss */
#form-register label {
  color: #231f20;
}

/* line 95, partials/_base.scss */
.btn-register {
  background-color: #231f20;
  color: #99ffcc;
}

/* line 100, partials/_base.scss */
form label {
  color: white;
  float: left;
}

/* line 105, partials/_base.scss */
.btn-login {
  border-radius: 0px;
  height: 34px;
  background-color: #99ffcc;
  color: #000;
}

/* line 112, partials/_base.scss */
#caretDropdown {
  border-color: transparent;
  background-color: transparent;
}

/* line 117, partials/_base.scss */
.caretAdd {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  /* line 123, partials/_base.scss */
  .btn-default {
    width: 100%;
  }

  /* line 126, partials/_base.scss */
  .query-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  /* line 130, partials/_base.scss */
  .form-login {
    width: 302px;
    height: 120px;
  }

  /* line 134, partials/_base.scss */
  .form-inputs {
    padding-top: 4.5%;
  }

  /* line 137, partials/_base.scss */
  .form-group {
    background-color: #231f20;
  }
}
@media screen and (max-width: 510px) {
  /* line 143, partials/_base.scss */
  .query-wrapper {
    width: 75%;
  }
}
/* line 1, partials/_profile.scss */
.user-header {
  margin-top: 50px;
  padding: 0;
  background: url("http://evturn.com/assets/img/tile.png");
  height: 280px;
  background-size: cover;
}

/* line 9, partials/_profile.scss */
.page-content {
  margin-top: 20px;
}
/* line 11, partials/_profile.scss */
.page-content .user-data {
  text-align: left;
}
/* line 13, partials/_profile.scss */
.page-content .user-data .img-avatar {
  width: 240px;
  z-index: 1;
  margin-top: -80px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  /* line 13, partials/_profile.scss */
  .page-content .user-data .img-avatar {
    width: 100px;
  }
}
/* line 22, partials/_profile.scss */
.page-content .user-data .user-title {
  text-transform: uppercase;
}
/* line 26, partials/_profile.scss */
.page-content .user-list {
  background: white;
  border-radius: 2px;
  padding: 0;
}
/* line 30, partials/_profile.scss */
.page-content .user-list .user-list-title {
  color: #15365d;
  text-transform: uppercase;
  line-height: 2.5em;
}
/* line 35, partials/_profile.scss */
.page-content .user-list .row.list-item {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #c9c8c7;
  background: white;
}
/* line 41, partials/_profile.scss */
.page-content .user-list .row.list-item .list-desc {
  height: 100%;
  text-align: left;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 46, partials/_profile.scss */
.page-content .user-list .row.list-item .list-desc .list-item-title {
  color: #00b2e2;
  line-height: 2.5em;
}
/* line 52, partials/_profile.scss */
.page-content .user-list .row.list-item .list-icon .fa {
  font-size: 2.5em;
  padding: 10px;
  color: #929497;
  text-align: center;
}
/* line 59, partials/_profile.scss */
.page-content .user-list .row.list-item .list-total {
  height: 100%;
  color: #c9c8c7;
  display: inline-block;
}
/* line 63, partials/_profile.scss */
.page-content .user-list .row.list-item .list-total .list-item-total {
  float: left;
  line-height: 2.5em;
}
/* line 67, partials/_profile.scss */
.page-content .user-list .row.list-item .list-total i.fa {
  float: right;
  font-size: 1.8em;
  line-height: 2.5em;
  color: #e6e7e8;
  cursor: pointer;
}

/* line 1, partials/_query.scss */
.main-view {
  padding-top: 100px;
}

/* line 5, partials/_query.scss */
.user-items-wrapper {
  position: relative;
  background-color: #99ffcc;
  height: 100%;
  min-height: 100px;
  width: 100%;
}
/* line 11, partials/_query.scss */
.user-items-wrapper .section-tab {
  position: absolute;
  height: 100%;
}
/* line 16, partials/_query.scss */
.user-items-wrapper ul.nav-tabs li {
  display: inline-block;
}
/* line 20, partials/_query.scss */
.user-items-wrapper #food {
  height: 625px;
}
/* line 24, partials/_query.scss */
.user-items-wrapper #drinks {
  background-color: purple;
  height: 625px;
  display: none;
}
/* line 29, partials/_query.scss */
.user-items-wrapper #attractions {
  background-color: green;
  height: 625px;
  display: none;
}

/* line 36, partials/_query.scss */
.sections-tab {
  cursor: pointer;
}

/* line 42, partials/_query.scss */
.tab-title {
  font-weight: 500;
  line-height: 1.1;
  padding-top: 115px;
  text-align: center;
}

/* line 49, partials/_query.scss */
.app-title {
  font-weight: 100;
  color: white;
  font-size: 500%;
  margin-top: 280px;
}

/* line 56, partials/_query.scss */
.yelp {
  text-align: center;
}

/* line 60, partials/_query.scss */
.user-item {
  height: 100px;
  position: relative;
}
/* line 63, partials/_query.scss */
.user-item .user-item-icon {
  display: inline-block;
  text-align: right;
  right: 0;
  position: absolute;
}
/* line 68, partials/_query.scss */
.user-item .user-item-icon .fa {
  font-size: 2em;
}
/* line 72, partials/_query.scss */
.user-item .user-item-info {
  width: 40%;
  display: inline;
}
/* line 76, partials/_query.scss */
.user-item .user-item-img {
  width: 100px;
  float: left;
  display: inline;
  margin-bottom: 15px;
  margin-right: 30px;
}
/* line 82, partials/_query.scss */
.user-item .user-item-img img {
  width: 100px;
  border-radius: 3px;
}

/* line 90, partials/_query.scss */
.user-items-header {
  text-align: left;
  color: #231f20;
}

/* line 95, partials/_query.scss */
ol.user-items li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
/* line 101, partials/_query.scss */
ol.user-items li:nth-child(even) {
  background: white;
}
/* line 104, partials/_query.scss */
ol.user-items li:nth-child(odd) {
  background: #ADAD85;
}
/* line 107, partials/_query.scss */
ol.user-items li:nth-child(odd) .user-item-info,
ol.user-items li:nth-child(odd) .user-item-info a {
  color: white;
}
/* line 110, partials/_query.scss */
ol.user-items li:nth-child(odd) .user-item-info h5 {
  color: #231f20;
}
/* line 115, partials/_query.scss */
ol.user-items li ul.added-results-ul {
  margin-left: -50px;
}
/* line 117, partials/_query.scss */
ol.user-items li ul.added-results-ul li {
  list-style-type: none;
  margin: 0;
  display: inline;
}

/* line 1, partials/_users.scss */
.container-users {
  margin-top: 70px;
}
/* line 3, partials/_users.scss */
.container-users .img-user-result {
  background: url("../../images/avatar.jpg");
  width: 80px;
  height: 80px;
  background-size: cover;
}
/* line 10, partials/_users.scss */
.container-users .container-user-results {
  background: white;
  color: #00b2e2;
  border-radius: 5px;
}
/* line 14, partials/_users.scss */
.container-users .container-user-results .user-result-item {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #c9c8c7;
}
/* line 19, partials/_users.scss */
.container-users .container-user-results .user-result-item .user-result-connect {
  height: 100%;
  padding-top: 20px;
}
/* line 23, partials/_users.scss */
.container-users .container-user-results .user-result-item .user-result-link {
  text-decoration: none;
}

/* line 1, partials/_navbar.scss */
.navbar-inverse {
  background-color: #231f20;
}
/* line 3, partials/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: white;
}
/* line 5, partials/_navbar.scss */
.navbar-inverse .navbar-brand:hover {
  color: #99ffcc;
}
/* line 8, partials/_navbar.scss */
.navbar-inverse .navbar-brand .navbar-img {
  width: 25px;
}
/* line 13, partials/_navbar.scss */
.navbar-inverse .no-collapse {
  padding-right: 30px;
}
/* line 18, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item {
  padding: 15px 0 0 0;
  display: inline-block;
  float: right;
}
/* line 24, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item:hover .menu-text .caption {
  color: #99ffcc;
}
/* line 29, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon {
  text-align: center;
}
/* line 31, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon a {
  text-decoration: none;
  text-align: center;
  color: white;
}
/* line 35, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon a .nav-user-img {
  display: inline;
  width: 32px;
  border-radius: 50%;
}
/* line 40, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon a .fa {
  font-size: 2em;
  color: white;
}
/* line 44, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon a:hover {
  color: #99ffcc;
}
/* line 46, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon a:hover .nav-user-img {
  opacity: 0.6;
}
/* line 49, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-icon a:hover .fa {
  color: #99ffcc;
}
/* line 56, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-text {
  text-align: center;
  padding-top: 5px;
  height: 20px;
  width: 55px;
}
/* line 61, partials/_navbar.scss */
.navbar-inverse .menu-items .menu-item .menu-text .caption {
  line-height: 1em;
  color: #231f20;
}

/* line 1, partials/_results.scss */
.search-container {
  padding-left: 25px;
}

/* line 5, partials/_results.scss */
.result-items {
  padding-left: 0;
  border-left: 1px solid #c9c8c7;
  border-right: 1px solid #c9c8c7;
  border-top: 0;
}
/* line 10, partials/_results.scss */
.result-items .result-item {
  background-color: #99ffcc;
  list-style-type: none;
  border-bottom: 1px solid #c9c8c7;
}
/* line 14, partials/_results.scss */
.result-items .result-item .result-inner-container {
  padding: 15px;
  height: 160px;
  width: 100%;
  display: inline-block;
}
/* line 20, partials/_results.scss */
.result-items .result-item .result-info {
  width: 40%;
  display: inline;
}
/* line 24, partials/_results.scss */
.result-items .result-item .result-img {
  width: 30%;
  display: inline;
}
/* line 27, partials/_results.scss */
.result-items .result-item .result-img img {
  display: inline;
  border-radius: 2px;
  padding-top: 10px;
}
/* line 33, partials/_results.scss */
.result-items .result-item .result-btns {
  width: 30%;
  text-align: right;
}
/* line 36, partials/_results.scss */
.result-items .result-item .result-btns form {
  display: inline-block;
}
/* line 39, partials/_results.scss */
.result-items .result-item .result-btns .fa {
  font-size: 2em;
}
