<script type="text/template" id="food-template">
// FOOD PAGE
  <h2 class="tab-title">F O O D</h2>
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form-inline">
            <h3>brunch</h3>
            <input type="text" class="form-control" id="brunchInput" placeholder="venue">
            <button id="btn-brunch" class="btn btn-default">Submit</button>
            <div id="list">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <div class="form-inline">
            <h3>lunch/dinner</h3>
            <input type="text" class="form-control" id="brunchInput" placeholder="venue">
            <button id="btn-brunch" class="btn btn-default">Submit</button>
            <div id="list">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <div class="form-inline">
            <h3>dessert</h3>
            <input type="text" class="form-control" id="brunchInput" placeholder="venue">
            <button id="btn-brunch" class="btn btn-default">Submit</button>
            <div id="list">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
                <li class="list-group-item">
                  <span class="list-arrow">
                    <a href="http://anniebae.com/" target="_blank">
                      <img src="stylesheets/images/arrow.png" class="arrow-img">
                    </a>
                    <div>
                      <img src="stylesheets/images/x.png" class="arrow-img">
                    </div>
                  </span>
                  NAME <br> ADDRESS
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
</script>