<script type="text/template" id="nav-template">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a id="logo-tab" class="navbar-brand">
        <img src="images/footprint.png" class="brand-img" onmouseover="this.src='images/pawprint.png'" onmouseout="this.src='images/footprint.png'">
      </a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          
          <li data-id="2" class="menu-item"><a id="food-tab">food</a></li>
          <li data-id="3" class="menu-item"><a id="beverages-tab">beverages</a></li>
          <li data-id="4" class="menu-item"><a id="attractions-tab">attractions</a></li>
          <li data-id="6" class="menu-item"><a class="btn-logout">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </div>
</script>