<script type="text/template" id="query-template">
  <h2 class="tab-title">Q U E R Y</h2>
  <div id="query" class="container">
    <div class="row">

      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <input id="input-location" type="text" class="form-control" placeholder="Location">
          <input id="input-term" type="text" class="form-control" placeholder="Mexican, Bars, Coffee, etc.">
          <button id="btn-location" name="location" class="btn btn-default">Submit</button>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <ul class="list-group">
        </ul>
      </div>
    </div>
  </div>
</script>