<script type="text/template" id="response-template">
  
    <span class="list-arrow">
      <a href="<%%= url %>" target="_blank">
        <i class="fa fa-yelp"></i>
      </a>
    </span>
    <%%= name %> 
    <%% var address = location.display_address %>
    <%% var rating = rating %>
    <%% for (var i = 0; i < address.length; i++) { %>
    <br> <%%= address[i] %>
    <%% } %>
    <br> <%%= rating %>/5
  
</script>