<script type="text/template" id="response-template">
  
    <span class="list-arrow">
      <div>
        <a href="<%%= url %>" target="_blank">
        <i class="fa fa-yelp"></i>
      </div>
      <div>
        <a href="">
          <i class="fa fa-caret-down"></i>
        </a>
      </div>
<!--       <a href="<%%= url %>" target="_blank">
        <i class="fa fa-yelp"></i>
      </a>
      <a href="">
        <i class="fa fa-caret-down"></i>
      </a> -->
    </span>
    <%%= name %> 
    <%% var address = location.display_address %>
    <%% var rating = rating %>
    <%% for (var i = 0; i < address.length; i++) { %>
    <br> <%%= address[i] %>
    <%% } %>
    <br> <%%= rating %>/5
  
</script>