<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WhereTO</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/lib/modernizr.css">
  <link rel="stylesheet" href="stylesheets/lib/animate.min.css">
  <link rel="stylesheet" href="stylesheets/lib/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>