body {
  background-color: #99FFCC;
}


.slide-img {
  height: 100vh;
  width: 100vw;
}

.photo-layer {
  z-index: 1;
  position: absolute;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0; 
}

.black-layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top:0;
  left:0;
}

.text-layer {
  color: white;
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
  font-family: 'Poiret One';
  font-weight: 100;
  font-size: 7em;
  margin-top: 18%;
}