body {
  background-color: #99FFCC;
}


/********************** NAVBAR **********************/
.navbar-inverse {
  background-color: #000;
}
.navbar-inverse .navbar-brand {
  font-family: 'Poiret One';
  color: #fff;
}
.navbar-inverse .navbar-brand:hover {
  color: #99FFCC;
}
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Poiret One';
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #99FFCC;
}

.brand-img {
  height: 25px;
}

#home {
  height: 100vh;
  width: 100vw;
}

#food {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: red;
}

#beverages {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: orange;
}

#museums {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: pink;
}


/********************** NAVBAR **********************/

.slide-img {
  height: 100vh;
  width: 100vw;
}

.photo-layer {
  z-index: 1;
  position: absolute;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0 
}

.black-layer {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top:0;
  left:0;
}

.text-layer {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
  font-family: 'Poiret One';
  font-weight: 100;
  color: white;
  font-size: 500%;
  margin-top: 18%;
}