body {
  background-image: url('../images/crossword.png');
  font-family: $primarysans;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: $mint;
}

.menu-item {
  cursor: pointer;
}

.slide-img {
  height: 100vh;
  width: 100vw;
}

.photo-layer {
  z-index: 1;
  position: absolute;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0 
}

.black-layer {
  background-color: $black;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top:0;
  left:0;
}

.text-layer {
  padding-top: 51px;
  color: white;
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

ul.authenticate li {
  display: inline-block;
  float: right;
}

button.unique-user {
  background: none;
  border: 1px solid white;
  color: white;
  width: 85px;
  height: 30px;
  margin: 10px 20px 0 0;
}

button:hover {
  color: $black;
  background-color: $white;
}

.form-control {
  border-radius: 0px;
}

.form-error {
  color: red;
}

#form-register {
  background-color: $white;
  padding: 6%;
  border-radius: 2%;
  z-index: 99999;
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 100px;
  h2 {
    color: $mint;
  }
  label {
    color: $mint
  }
}

.btn-register {
  background-color: $mint;
  color: $white;
  &:hover {
    color: $mint;
    background-color: $black;
  }
}

form label {
  color: $white;
  float: left;
}

.btn-login {
  border-radius: 0px;
  height: 34px;
  background-color: $mint;
  color: #000;
}

#caretDropdown {
  border-color: transparent;
  background-color: transparent;
}

.caretAdd {
  margin-left: 10px;
}


@media screen and (max-width: 767px) {
  .btn-default {
    width: 100%;
  }
}