body {
  background-color: lightgrey;
  font-family: $primarysans;
}

ul.list-group li {
  display: inline-block;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: $mint;
}

.menu-item {
  cursor: pointer;
}

.slide-img {
  height: 100vh;
  width: 100vw;
}

.photo-layer {
  z-index: 1;
  position: absolute;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0 
}

.black-layer {
  background-color: $black;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top:0;
  left:0;
}

.text-layer {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

ul.authenticate li {
  display: inline-block;
}

button.unique-user {
  background: none;
  border: 2.5px solid white;
  color: white;
  width: 100px;
  height: 42px;
  margin: 0 25px 0 0;
}

button:hover {
  color: $black;
  background-color: $white;
}

.form-control {
  border-radius: 0px;
}

.form-error {
  color: red;
}

.row {
  text-align: center;
  padding-top: 3%;
}


form label {
  color: $white;
  float: left;
}

.btn-submit {
  border-radius: 0px;
  height: 34px;
  background-color: $mint;
  color: #000;
}

#caretDropdown {
  border-color: transparent;
  background-color: transparent;
}

.caretAdd {
  margin-left: 10px;
}





@media screen and (max-width: 767px) {
  .btn-default {
    width: 100%;
  }
}