$primarysans: Josefin Sans;
$primarydark: #15365d;
$primarydarkhover: #174e7a;
$primarylight: #00b2e2;
$primarylighthover: #00cfff;
$primarygray: #c9c8c7;
$primarygrayhover: #dddddd;

$mint: #A7D3BD;
$pink: #FFC0CB;
$ashblue: #336699;

$green: #94d500;
$greenhover: #a8e205;
$orange: #ff8f12;
$orangehover: #ffa750;
$red: #f6323e;
$redhover: #fc5e6e;

$black: #231f20;
$black90: #404041;
$black70: #6d6e71;
$black50: #929497;
$black20: #d0d2d3;
$black10: #e6e7e8;
$black5: #f1f1f2;

$dashboardlightgray: #f8f8f8;
$dashboardmedgray: #bbbdbf;
$dashboarddarkgray: #6c6d6f;
$white: #fff;

$navgray: #231F20;


.btn-primarylight {
	background: $primarylight;
	color: $white;
	height: 30px;
	width: 100px;
	&:hover {
		background: $primarydark;
		color: $white;
	}
}

.no-btn,
.no-btn:hover,
.no-btn:focus {
  background: none;
  background-image: none;
  background-color: none;
  border: none;
  border-color: none;
}