h1 { font-size: 110px; color: white;}
h2 { font-size: 32px; }
h3 { font-size: 27px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }



.main-view {
  height: 100vh;
}

.form-inline {  
  .form-control {
    border-radius: 5%;
  }
}

.form-login {
  position: absolute;
  top: 50px;
  right: 0;
  height: 50px;
  display: block;
  border-radius: 5px;
  width: 550px;
  display: none;
  background-color: $navgray;
}

.form-inputs {
  padding-top: 1.5%;
}

.section-title {
  color: $white;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .form-login {
    width: 302px;
    height: 190px;
  }
  .form-inputs {
    padding-top: 4.5%;
  }
  .form-group {
    border-radius: 5%;
  }
  #form-register .form-group {
    background-color: $mint;
    margin-bottom: 0px;
  }
  .query-wrapper {
    width: 85%;
    margin: 0 auto;
  }
  .query-wrapper .form-group {
    background-color: $mint;
  }
  form label {
    width: 100%;
  }
}


@media screen and (max-width: 510px) {
  .query-wrapper {
    width: 75%;
  }
}