.user-data {
	text-align: left;
	.img-avatar {
		width: 250px;
	}
}

.user-list {
	background: $white;
	border-radius: 2px;
	padding: 0;
	.user-list-title {
		color: $primarydark;
		text-transform: uppercase;
	  margin-top: 10px;
		margin-bottom: 10px;
	}
	.list-item {
		height: 60px;
		width: 100%;
		padding: 15px;
		border-bottom: 1px solid $primarygray;
		background: $white;	
		&:hover {
			background: $primarylight;
			color: $white;
			.list-icon.fa {
				color: $white;
			}
			.list-desc.list-item-title {
				color: $white
			}
		}

		.list-desc {
			width: 50%;
			text-align: left;
			.list-item-title {
				color: $primarylight;
				height: 100%;
			}
		}
		.list-icon {
			width: 25%;
			.fa {
				font-size: 2em;
				color: $black70;
			}
		}
		.list-total {
			width: 25%;
			color: $primarygray;
		}
	}
}

