.sections-wrapper {
  position: relative;
  background-color: $ashblue;
  height: 100%;
  width: 60%;
  float: right;
  top: 41px;
  margin-bottom: 2%;
	.section-tab {
	  position: absolute;
	  height: 100%;
	}
	
	ul.nav-tabs li {
		display: inline-block;
	}

	#food {
  	// background-color: $orange;
    height: 625px;
	}
	#drinks {
  	background-color: purple;
    height: 625px;
    display: none;
  }
  #attractions {
    background-color: green;
    height: 625px;
    display: none;
  }
}

.sections-tab {
  cursor: pointer;
}