.main-view {
  padding-top: 100px;
}

.user-items-wrapper {
  position: relative;
  background-color: $mint;
  height: 100%;
  min-height: 100px;
  width: 100%;
	.section-tab {
	  position: absolute;
	  height: 100%;
	}
	
	ul.nav-tabs li {
		display: inline-block;
	}

	#food {
  	// background-color: $orange;
    height: 625px;
	}
	#drinks {
  	background-color: purple;
    height: 625px;
    display: none;
  }
  #attractions {
    background-color: green;
    height: 625px;
    display: none;
  }
}

.sections-tab {
  cursor: pointer;
}



.tab-title {
  font-weight: 500;
  line-height: 1.1;
  padding-top: 115px;
  text-align: center;
}

.app-title {
  font-weight: 100;
  color: $white;
  font-size: 500%;
  margin-top: 280px;
}

.yelp {
  text-align: center;
}

.user-item {
  height: 100px;
  position: relative;
  .user-item-icon {
    display: inline-block;
    text-align: right;
    right: 0;
    position: absolute;
    .fa {
      font-size: 2em;
    }
  }
  .user-item-info {
    width: 40%;
    display: inline;
  }
  .user-item-img {
    width: 100px;
    float: left;
    display: inline;
    margin-bottom: 15px;
    margin-right: 30px;
    img {
      width: 100px;
      border-radius: 3px;
    }
  }
  
}

.user-items-header {
  text-align: left;
  color: $black;
}

ol.user-items li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  &:nth-child(even) {
    background: $white;
  }
  &:nth-child(odd) {
    background: #ADAD85;
    .user-item-info,
    .user-item-info a {
      color: $white;
    }
    .user-item-info h5 {
      color: $black;
    }
  }
  
  ul.added-results-ul {
    margin-left: -50px;
    li {
      list-style-type: none;
      margin: 0;
      display: inline;    
    }
  }
}