.search-container {
  .search-input-container {
    text-align: center;
    .form-inline {
      input, button {
        color: $black;
        width: 100%;
        margin-bottom: 1%;
      }
      button {
        background-color: $black;
        color: $mint;
        &:hover {
          background-color: $mint;
          color: $black;
        }
      }
    }
  }
}

.result-items {
  padding-left: 0;
  border-left: 1px solid $primarygray;
  border-right: 1px solid $primarygray;
  border-top: 0;
  // height: 68vh;
  // position: absolute;
  // overflow-y: scroll;
  .result-item {
    background-color: $mint;
    list-style-type: none;
    border-bottom: 1px solid $white;
    &:first-child {
      border-top: 1px solid $white;
    }
  .result-inner-container {
    padding: 20px;
    height: 160px;
    width: 100%;
    display: inline-block;
  }
    .result-info {
      width: 40%;
      display: inline;
      text-align: left;
      & p {
        line-height: 0.5em;
      }
    }
    .result-img {
      width: 30%;
      display: inline;
      img {
        display: inline;
        border-radius: 2px;
        padding-top: 10px;
      }
    }
    .result-btns {
      margin-top: 28px;
      width: 18%;
      text-align: right;
      form {
        display: inline-block;
      }
      .fa {
        color: $black5;
        font-size: 2em;
      }
    }
  }
}