.container-users {
	margin-top: 70px;
	.img-user-result {
		background: url('../../images/avatar.jpg');
		width: 80px;
		height: 80px;
		background-size: cover;
	}

	.container-user-results {
		background: $white;
		color: $primarylight;
		border-radius: 5px;
		.user-result-item {
			height: 100px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid $primarygray;
			.user-result-connect {
				height: 100%;
			  padding-top: 20px;
			}
			.user-result-link {
				text-decoration: none;
			}
		}
	}
}

.user-items-container {
	display: none;
}