.container-users {
	margin-top: 70px;
	.img-user-result {
		background: url('../../images/avatar.jpg');
		width: 80px;
		height: 80px;
		background-size: cover;
	}

	.container-user-results {
		background: $white;
		color: $primarylight;
		border-radius: 5px;
		.user-result-item {
			height: 100px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid $primarygray;
			.user-result-connect {
				height: 100%;
			  padding-top: 20px;
			}
			.user-result-link {
				text-decoration: none;
			}
		}
	}
}

.user-items-container {
	display: none;
	position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  width: 75%;
}

.fa-list .fa {
	position: absolute;
  top: 84px;
  right: -5px;
  font-size: 2em;
  background-color: white;
  padding: .75%;
  border-radius: 5px;
}

.mySelect {
    padding: .2em 0;
    font-size: 1em;
}