<div class="food">

  <h2 class="tab-title">WhereTO</h2>
  
    {{>_query}}

  <div class="container">
    <div class="row list-group-row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center list-group-loader"></div>
        <ul class="list-group">

          <!-- yelp response object -->
          
        </ul>  
      </div>
    </div>
  </div>

  <div class="container sections-wrapper">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Food</a></li>
      <li role="presentation"><a href="#">Drinks</a></li>
      <li role="presentation"><a href="#">Etc</a></li>
    </ul>
  </div>

</div>

