<div class="food">

  <h2 class="tab-title">WhereTO</h2>
  
    {{>_query}}

  <div class="container">
    <div class="row list-group-row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center list-group-loader"></div>
        <ul class="list-group">

          <!-- yelp response object -->
          
        </ul>  
      </div>
    </div>
  </div>

  <div class="sections-wrapper">
    <nav>
      <a href="#foods">F</a>
      <a href="#drinks">D</a>
    </nav>
    <div class="section-tab" id="foods">FOOD</div>
    <div class="section-tab" id="drinks">DRINKS</div>
  </div>

</div>