<script type="text/template" id="response-template">
  <span class="list-item-option">
    <div class="yelp">
      <a href="<%= url %>" target="_blank">
        <i class="fa fa-yelp"></i>
      </a>
    </div>
    <form action="/places" method="post">      
      <input type="hidden" name="venue" value="<%= name %>">
      <input type="hidden" name="yelpId" value="<%= id %>">
      <input type="hidden" name="city" value="<%= location.city %>">
      <input type="hidden" name="zipcode" value="<%= location.postal_code %>">
      <button type="submit"><i class="fa fa-plus"></i></button>
    </form>
      
  </span>
  <%= name %> 
  <% var address = location.display_address %>
  <% var rating = rating %>
  <% var img = image_url %>
  <% for (var i = 0; i < address.length; i++) { %>
  <br> <%= address[i] %>
  <% } %>
  <br>
  <a href="<%= img %>" data-lightbox="response" data-title="<%= name %>">
    <img src="<%= img %>">
  </a>

  <br> rating: <%= rating %>/5
  
</script>